<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../static/assets/images/favicon.png">
    <title>关注</title>
    <!-- Bootstrap Core CSS -->
    <link href="../../static/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../static/css/user_style.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="../../static/css/colors/default-dark.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="fix-header card-no-border fix-sidebar">
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Admin Pro</p>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <!-- ============================================================== -->
            <!-- Logo -->
            <!-- ============================================================== -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/index">
                    <!-- Logo icon --><b>
                    <img src="../../static/assets/images/logo-icon.png" alt="homepage" class="dark-logo"/>
                </b>
                    <!--End Logo icon -->
                    <!-- Logo text -->
                    <span>
                            <img src="../../static/assets/images/logo-text.png" alt="homepage" class="dark-logo"/>
                        </span>
                </a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse">
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav mr-auto">
                    <!-- This is  -->
                    <li class="nav-item"><a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark"
                                            href="javascript:void(0)"><i class="ti-menu"></i></a></li>
                </ul>
                <!-- ============================================================== -->
                <!-- User profile and search -->
                <!-- ============================================================== -->
                <ul class="navbar-nav my-lg-0">
                    <!-- ============================================================== -->
                    <!-- Search -->
                    <!-- ============================================================== -->
                    <li class="nav-item hidden-xs-down search-box">
                        <form class="app-search">
                            <input type="text" class="form-control" placeholder="Search & enter"> <a class="srh-btn"><i
                                class="ti-close"></i></a>
                        </form>
                    </li>
                    <!-- ============================================================== -->
                    <!-- Profile -->
                    <!-- ============================================================== -->
                    <li class="nav-item">
                        <a class="nav-link waves-effect waves-dark" href="#"><img height="30"
                                src="../../static/assets/images/users/1.jpg" alt="user" class="profile-pic"/></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

        <div class="container-fluid">
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Attentions</h3>
                </div>
            </div>
            <div class="row">
                <!-- column -->
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="card-subtitle">ta的粉丝数：<code id="attention_count">100</code></h6>
                            <h2>关注ta的人：</h2>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>图像</th>
                                        <th>昵称</th>
                                        <th>邮箱</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!--                                     动态渲染-->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

<script src="../../static/assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="../../static/assets/plugins/bootstrap/js/popper.min.js"></script>
<script src="../../static/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="../../static/js/perfect-scrollbar.jquery.min.js"></script>
<!--Wave Effects -->
<script src="../../static/js/waves.js"></script>
<!--Menu sidebar -->
<script src="../../static/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="../../static/js/custom.min.js"></script>
<script>
    token = window.localStorage.getItem('video_token');
    username = window.localStorage.getItem('video_user');
    let url = window.location.toString();
    let query_username = url.split('/')[3]

    $.ajax({
        url: 'http://127.0.0.1:8000/v1/users/' + query_username + '/attention/info',
        type: 'get',
        success: function (data) {
            if (data.code === 200) {
                $('#attention_count').text(data.count)
                $('.profile-pic').attr('src', 'http://127.0.0.1:8000/media/' + data.avatar)
                // console.log(data)
                $.each(data.data, function (index, obj) {
                    $('.table tbody').append(`
                                    <tr>
                                        <td><a class="nav-link waves-effect waves-dark" href="/${obj.username}/space"><img height="25"
                                src="http://127.0.0.1:8000/media/${obj.avatar}" alt="user" class="img-circle"/></a></td>
                                        <td>${obj.username}</td>
                                        <td>${obj.email}</td>

                                    </tr>`)
                })
            } else {
                alert(data.error)
            }
        }
    })

</script>

</body>

</html>